/* line 1, ../sass/style.scss */
.default-container {
  max-width: 1366px;
  margin: 0 auto;
}

/* line 6, ../sass/style.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 12, ../sass/style.scss */
html, body {
  margin: 0%;
  padding: 0;
  font-family: 'Open sans';
  position: relative;
  overflow-x: hidden;
  background-color: #fff;
  scroll-behavior: smooth;
}
/* line 20, ../sass/style.scss */
html li, html a, body li, body a {
  text-decoration: none !important;
  list-style-type: none;
  cursor: pointer;
}

/* line 27, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 31, ../sass/style.scss */
button {
  cursor: pointer;
}

/* line 35, ../sass/style.scss */
div {
  margin: 0%;
  overflow: hidden;
}

/* line 44, ../sass/style.scss */
.pagewrap header .navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu-three-horizontal-lines-symbol.svg");
}
/* line 47, ../sass/style.scss */
.pagewrap header nav {
  background-color: #000000 !important;
}
/* line 49, ../sass/style.scss */
.pagewrap header nav .navbar-brand {
  font-family: 'Courgette', cursive;
  letter-spacing: 2;
  text-transform: lowercase;
  font-size: 30px;
  margin: 0;
  padding-left: 20px;
}
/* line 57, ../sass/style.scss */
.pagewrap header nav a {
  color: #fff !important;
  font-size: 16px;
  text-transform: uppercase;
}
/* line 63, ../sass/style.scss */
.pagewrap header nav .collapse form {
  margin-left: 16%;
  position: absolute;
}
/* line 66, ../sass/style.scss */
.pagewrap header nav .collapse form ul .dropdown {
  position: relative;
}
/* line 70, ../sass/style.scss */
.pagewrap header nav .collapse form ul li a {
  padding-right: 25px !important;
  color: #fff !important;
}
/* line 75, ../sass/style.scss */
.pagewrap header nav .collapse form ul li .dropdown-menu a {
  color: #000000 !important;
}
/* line 84, ../sass/style.scss */
.pagewrap header nav div form ul li .search {
  width: 58px;
}
/* line 86, ../sass/style.scss */
.pagewrap header nav div form ul li .search img {
  width: 100%;
}
/* line 93, ../sass/style.scss */
.pagewrap header nav .collapse.show form {
  position: initial;
}
/* line 101, ../sass/style.scss */
.pagewrap .first #carouselExampleIndicators .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: unset;
  margin: 5px;
}
/* line 108, ../sass/style.scss */
.pagewrap .first #carouselExampleIndicators .carousel-indicators li.active {
  background-color: rgba(216, 6, 6, 0.89);
}
/* line 114, ../sass/style.scss */
.pagewrap .second .breakfast {
  padding: 50px 40px;
}
/* line 116, ../sass/style.scss */
.pagewrap .second .breakfast .snacking {
  background-color: #ddd;
  padding: 0%;
}
/* line 119, ../sass/style.scss */
.pagewrap .second .breakfast .snacking img {
  width: 100%;
}
/* line 122, ../sass/style.scss */
.pagewrap .second .breakfast .snacking h1 {
  font-weight: 800;
  font-size: 72px;
  text-transform: uppercase;
  color: rgba(75, 75, 75, 0.322);
}
/* line 127, ../sass/style.scss */
.pagewrap .second .breakfast .snacking h1 span {
  font-size: 100px;
}
/* line 131, ../sass/style.scss */
.pagewrap .second .breakfast .snacking p {
  color: rgba(75, 75, 75, 0.589);
  padding-right: 12%;
  font-size: 19px;
}
/* line 137, ../sass/style.scss */
.pagewrap .second .breakfast .description {
  padding: 12% 3.2% 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* line 148, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner {
  margin: 0 4%;
}
/* line 150, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item {
  width: 95%;
}
/* line 152, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 {
  background-color: #ede8e8;
  margin: 10px;
  max-width: 23% !important;
  float: left !important;
  border-radius: 10%;
  padding: 20px 0;
}
/* line 159, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 img {
  width: 100%;
}
/* line 162, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox {
  /* Hide the browser's default checkbox */
}
/* line 164, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label {
  padding: 0 0 0 15%;
  color: #000;
  font-size: 15px;
  position: relative;
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
}
/* line 169, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* line 176, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark {
  position: absolute;
  top: 3;
  left: 15;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 2px solid #000;
  border-radius: 2px;
  /* Style the checkmark/indicator */
}
/* line 186, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 201, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label .container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* line 206, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* line 211, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* line 218, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark:after {
  display: block;
}
/* line 225, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info {
  padding: 0 0 0 6%;
}
/* line 227, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info .name {
  font-weight: 800;
  margin: 0;
}
/* line 231, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info .price {
  font-weight: 600;
  font-size: 18px;
}
/* line 234, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info .price span {
  text-decoration: line-through;
}
/* line 237, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info .price .new {
  text-decoration: none;
  color: rgba(216, 6, 6, 0.89);
  font-weight: 800;
  padding-left: 10px;
}
/* line 244, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info .star {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}
/* line 248, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info .star .fa {
  color: #cecccc;
}
/* line 251, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .info .star .checked {
  color: orange;
}
/* line 259, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-control-next, .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-control-prev {
  width: 5%;
}
/* line 261, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-control-next .carousel-control-prev-icon, .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../images/left.svg");
}
/* line 265, ../sass/style.scss */
.pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-control-next .carousel-control-next-icon, .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-control-prev .carousel-control-next-icon {
  background-image: url("../images/right.svg");
}
/* line 271, ../sass/style.scss */
.pagewrap .third .container3 .shop .view {
  text-align: right;
  padding: 1% 5% 4%;
  margin-left: 5%;
  position: relative;
}
/* line 276, ../sass/style.scss */
.pagewrap .third .container3 .shop .view hr {
  position: absolute;
  width: 73.7%;
  top: 8%;
  border: 1px solid rgba(75, 75, 75, 0.589);
}
/* line 282, ../sass/style.scss */
.pagewrap .third .container3 .shop .view a {
  text-align: right;
  background-color: rgba(216, 6, 6, 0.89);
  color: #fff;
  text-transform: uppercase;
  padding: 1% 6%;
  font-size: 15px;
  border-radius: 2px;
}
/* line 294, ../sass/style.scss */
.pagewrap .four .recipe {
  background-color: #000;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
}
/* line 299, ../sass/style.scss */
.pagewrap .four .recipe a {
  color: #ccc;
  font-size: 12px;
}
/* line 306, ../sass/style.scss */
.pagewrap .five .breakfast {
  padding: 50px 40px;
  width: 100%;
  margin: 0%;
}
/* line 310, ../sass/style.scss */
.pagewrap .five .breakfast .snacking {
  float: right !important;
  background-color: #ddd;
  padding: 0%;
}
/* line 314, ../sass/style.scss */
.pagewrap .five .breakfast .snacking img {
  width: 100%;
}
/* line 317, ../sass/style.scss */
.pagewrap .five .breakfast .snacking h1 {
  font-weight: 800;
  font-size: 83px;
  text-transform: uppercase;
  color: rgba(75, 75, 75, 0.322);
}
/* line 323, ../sass/style.scss */
.pagewrap .five .breakfast .snacking p {
  color: rgba(75, 75, 75, 0.589);
  padding-right: 12%;
  font-size: 19px;
}
/* line 329, ../sass/style.scss */
.pagewrap .five .breakfast .description {
  float: right !important;
  padding: 10% 3.2% 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
/* line 339, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner {
  margin: 0 4%;
}
/* line 341, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item {
  width: 95%;
}
/* line 343, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 {
  background-color: #ede8e8;
  margin: 10px;
  max-width: 23% !important;
  float: left !important;
  border-radius: 10%;
  padding: 20px 0;
}
/* line 350, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 img {
  width: 100%;
}
/* line 353, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox {
  /* Hide the browser's default checkbox */
}
/* line 355, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label {
  padding: 0 0 0 15%;
  color: #000;
  font-size: 15px;
  position: relative;
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
}
/* line 360, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* line 367, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark {
  position: absolute;
  top: 3;
  left: 15;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 2px solid #000;
  border-radius: 2px;
  /* Style the checkmark/indicator */
}
/* line 377, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 392, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label .container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* line 397, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* line 402, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* line 409, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark:after {
  display: block;
}
/* line 416, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info {
  padding: 0 0 0 6%;
}
/* line 418, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info .name {
  font-weight: 800;
  margin: 0;
}
/* line 422, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info .price {
  font-weight: 600;
  font-size: 18px;
}
/* line 425, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info .price span {
  text-decoration: line-through;
}
/* line 428, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info .price .new {
  text-decoration: none;
  color: rgba(216, 6, 6, 0.89);
  font-weight: 800;
  padding-left: 10px;
}
/* line 435, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info .star {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}
/* line 439, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info .star .fa {
  color: #cecccc;
}
/* line 442, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .info .star .checked {
  color: orange;
}
/* line 450, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-control-next, .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-control-prev {
  width: 5%;
}
/* line 452, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-control-next .carousel-control-prev-icon, .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../images/left.svg");
}
/* line 456, ../sass/style.scss */
.pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-control-next .carousel-control-next-icon, .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-control-prev .carousel-control-next-icon {
  background-image: url("../images/right.svg");
}
/* line 462, ../sass/style.scss */
.pagewrap .six .container4 .shop .view {
  text-align: right;
  padding: 1% 5% 4%;
  margin-left: 5%;
  position: relative;
}
/* line 467, ../sass/style.scss */
.pagewrap .six .container4 .shop .view hr {
  position: absolute;
  width: 73.7%;
  top: 8%;
  border: 1px solid rgba(75, 75, 75, 0.589);
}
/* line 473, ../sass/style.scss */
.pagewrap .six .container4 .shop .view a {
  text-align: right;
  background-color: rgba(216, 6, 6, 0.89);
  color: #fff;
  text-transform: uppercase;
  padding: 1% 6%;
  font-size: 15px;
  border-radius: 2px;
}
/* line 485, ../sass/style.scss */
.pagewrap .seven .breakfast {
  padding: 20px 40px 30px;
}
/* line 487, ../sass/style.scss */
.pagewrap .seven .breakfast .snacking {
  background-color: #ddd;
  padding: 0%;
}
/* line 490, ../sass/style.scss */
.pagewrap .seven .breakfast .snacking img {
  width: 100%;
}
/* line 493, ../sass/style.scss */
.pagewrap .seven .breakfast .snacking h1 {
  font-weight: 800;
  font-size: 72px;
  text-transform: uppercase;
  color: rgba(75, 75, 75, 0.322);
}
/* line 498, ../sass/style.scss */
.pagewrap .seven .breakfast .snacking h1 span {
  font-size: 100px;
}
/* line 502, ../sass/style.scss */
.pagewrap .seven .breakfast .snacking p {
  color: rgba(75, 75, 75, 0.589);
  padding-right: 12%;
  font-size: 19px;
}
/* line 508, ../sass/style.scss */
.pagewrap .seven .breakfast .description {
  padding: 12% 3.2% 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* line 517, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner {
  margin: 0 4%;
}
/* line 519, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item {
  width: 95%;
}
/* line 521, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 {
  background-color: #ede8e8;
  margin: 10px;
  max-width: 23% !important;
  float: left !important;
  border-radius: 10%;
  padding: 20px 0;
}
/* line 528, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 img {
  width: 100%;
}
/* line 531, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox {
  /* Hide the browser's default checkbox */
}
/* line 533, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label {
  padding: 0 0 0 15%;
  color: #000;
  font-size: 15px;
  position: relative;
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
}
/* line 538, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* line 545, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark {
  position: absolute;
  top: 3;
  left: 15;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 2px solid #000;
  border-radius: 2px;
  /* Style the checkmark/indicator */
}
/* line 555, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 570, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label .container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* line 575, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* line 580, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* line 587, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark:after {
  display: block;
}
/* line 594, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info {
  padding: 0 0 0 6%;
}
/* line 596, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info .name {
  font-weight: 800;
  margin: 0;
}
/* line 600, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info .price {
  font-weight: 600;
  font-size: 18px;
}
/* line 603, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info .price span {
  text-decoration: line-through;
}
/* line 606, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info .price .new {
  text-decoration: none;
  color: rgba(216, 6, 6, 0.89);
  font-weight: 800;
  padding-left: 10px;
}
/* line 613, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info .star {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}
/* line 617, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info .star .fa {
  color: #cecccc;
}
/* line 620, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .info .star .checked {
  color: orange;
}
/* line 628, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-control-next, .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-control-prev {
  width: 5%;
}
/* line 630, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-control-next .carousel-control-prev-icon, .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../images/left.svg");
}
/* line 634, ../sass/style.scss */
.pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-control-next .carousel-control-next-icon, .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-control-prev .carousel-control-next-icon {
  background-image: url("../images/right.svg");
}
/* line 640, ../sass/style.scss */
.pagewrap .eight .container5 .shop .view {
  text-align: right;
  padding: 1% 5% 4%;
  margin-left: 5%;
  position: relative;
}
/* line 645, ../sass/style.scss */
.pagewrap .eight .container5 .shop .view hr {
  position: absolute;
  width: 73.7%;
  top: 8%;
  border: 1px solid rgba(75, 75, 75, 0.589);
}
/* line 651, ../sass/style.scss */
.pagewrap .eight .container5 .shop .view a {
  text-align: right;
  background-color: rgba(216, 6, 6, 0.89);
  color: #fff;
  text-transform: uppercase;
  padding: 1% 6%;
  font-size: 15px;
  border-radius: 2px;
}
/* line 663, ../sass/style.scss */
.pagewrap .ten .breakfast {
  padding: 50px 40px;
  width: 100%;
  margin: 0%;
}
/* line 667, ../sass/style.scss */
.pagewrap .ten .breakfast .snacking {
  float: right !important;
  background-color: #ddd;
  padding: 0%;
}
/* line 671, ../sass/style.scss */
.pagewrap .ten .breakfast .snacking img {
  width: 100%;
}
/* line 674, ../sass/style.scss */
.pagewrap .ten .breakfast .snacking h1 {
  font-weight: 800;
  font-size: 83px;
  text-transform: uppercase;
  color: rgba(75, 75, 75, 0.322);
}
/* line 680, ../sass/style.scss */
.pagewrap .ten .breakfast .snacking p {
  color: rgba(75, 75, 75, 0.589);
  padding-right: 12%;
  font-size: 19px;
}
/* line 686, ../sass/style.scss */
.pagewrap .ten .breakfast .description {
  float: right !important;
  padding: 10% 3.2% 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
/* line 696, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner {
  margin: 0 4%;
}
/* line 698, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item {
  width: 95%;
}
/* line 700, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 {
  background-color: #ede8e8;
  margin: 10px;
  max-width: 23% !important;
  float: left !important;
  border-radius: 10%;
  padding: 20px 0;
}
/* line 707, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 img {
  width: 100%;
}
/* line 710, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox {
  /* Hide the browser's default checkbox */
}
/* line 712, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label {
  padding: 0 0 0 15%;
  color: #000;
  font-size: 15px;
  position: relative;
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
}
/* line 717, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* line 724, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark {
  position: absolute;
  top: 3;
  left: 15;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 2px solid #000;
  border-radius: 2px;
  /* Style the checkmark/indicator */
}
/* line 734, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 749, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label .container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* line 754, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark {
  background-color: #2196F3;
}
/* line 759, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* line 766, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label input:checked ~ .checkmark:after {
  display: block;
}
/* line 773, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info {
  padding: 0 0 0 6%;
}
/* line 775, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info .name {
  font-weight: 800;
  margin: 0;
}
/* line 779, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info .price {
  font-weight: 600;
  font-size: 18px;
}
/* line 782, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info .price span {
  text-decoration: line-through;
}
/* line 785, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info .price .new {
  text-decoration: none;
  color: rgba(216, 6, 6, 0.89);
  font-weight: 800;
  padding-left: 10px;
}
/* line 792, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info .star {
  font-size: 13px;
  color: #000000;
  font-weight: 600;
}
/* line 796, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info .star .fa {
  color: #cecccc;
}
/* line 799, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .info .star .checked {
  color: orange;
}
/* line 808, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-control-next, .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-control-prev {
  width: 5%;
}
/* line 810, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-control-next .carousel-control-prev-icon, .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("../images/left.svg");
}
/* line 814, ../sass/style.scss */
.pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-control-next .carousel-control-next-icon, .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-control-prev .carousel-control-next-icon {
  background-image: url("../images/right.svg");
}
/* line 820, ../sass/style.scss */
.pagewrap .eleven .container6 .shop .view {
  text-align: right;
  padding: 1% 5% 4%;
  margin-left: 5%;
  position: relative;
}
/* line 825, ../sass/style.scss */
.pagewrap .eleven .container6 .shop .view hr {
  position: absolute;
  width: 73.7%;
  top: 8%;
  border: 1px solid rgba(75, 75, 75, 0.589);
}
/* line 831, ../sass/style.scss */
.pagewrap .eleven .container6 .shop .view a {
  text-align: right;
  background-color: rgba(216, 6, 6, 0.89);
  color: #fff;
  text-transform: uppercase;
  padding: 1% 6%;
  font-size: 15px;
  border-radius: 2px;
}
/* line 842, ../sass/style.scss */
.pagewrap footer {
  padding: 5% 0 0 0;
}
/* line 844, ../sass/style.scss */
.pagewrap footer .lists {
  background-color: #eee;
  padding: 4% 0 0 7%;
}
/* line 847, ../sass/style.scss */
.pagewrap footer .lists .menu {
  padding: 2% 0;
  float: left;
  text-align: center;
}
/* line 851, ../sass/style.scss */
.pagewrap footer .lists .menu ul {
  text-align: left;
  padding: 0;
}
/* line 854, ../sass/style.scss */
.pagewrap footer .lists .menu ul li, .pagewrap footer .lists .menu ul .heading {
  font-weight: 800;
  color: rgba(75, 75, 75, 0.589);
  font-size: 14px;
  padding: 0 0 3px;
}
/* line 859, ../sass/style.scss */
.pagewrap footer .lists .menu ul li a, .pagewrap footer .lists .menu ul .heading a {
  font-weight: 400;
  color: rgba(75, 75, 75, 0.589);
}
/* line 864, ../sass/style.scss */
.pagewrap footer .lists .menu ul .heading {
  padding: 0 0 10px;
}
/* line 868, ../sass/style.scss */
.pagewrap footer .lists .menu .h2 {
  color: #000;
  font-weight: 800;
  color: rgba(75, 75, 75, 0.589);
  font-size: 14px;
  padding: 0 0 10px;
}
/* line 875, ../sass/style.scss */
.pagewrap footer .lists .menu p {
  font-weight: 400;
  color: rgba(75, 75, 75, 0.589);
  font-size: 14px;
}
/* line 880, ../sass/style.scss */
.pagewrap footer .lists .menu .newsletter {
  text-align: left;
  padding-left: 8%;
}
/* line 884, ../sass/style.scss */
.pagewrap footer .lists .menu .newsletter .subscribe label a {
  background-color: #fff;
  color: #545454;
  padding: 2px 20px 3px;
  font-size: 13px;
  font-weight: 700;
}
/* line 891, ../sass/style.scss */
.pagewrap footer .lists .menu .newsletter .subscribe input {
  outline: none;
  border: 2px solid rgba(127, 126, 126, 0.43);
  background-color: transparent;
  padding: 0 0 3px 10px;
  font-size: 13px;
  color: rgba(75, 75, 75, 0.589);
}
/* line 899, ../sass/style.scss */
.pagewrap footer .lists .menu .newsletter .subscribe ::placeholder {
  font-size: 12px;
  font-weight: 700;
  color: rgba(127, 126, 126, 0.43);
  outline: none;
  vertical-align: middle;
}
/* line 909, ../sass/style.scss */
.pagewrap footer .lists .last {
  border-right: 1px solid #fff;
}
/* line 913, ../sass/style.scss */
.pagewrap footer .payment {
  text-align: center;
}
/* line 917, ../sass/style.scss */
.pagewrap footer .navigation ul {
  margin: 0 4%;
}
/* line 919, ../sass/style.scss */
.pagewrap footer .navigation ul li {
  padding: 10px 15px;
  float: left;
}
/* line 922, ../sass/style.scss */
.pagewrap footer .navigation ul li a {
  font-weight: 700;
  color: rgba(75, 75, 75, 0.46);
  font-size: 14px;
}
/* line 930, ../sass/style.scss */
.pagewrap footer .copy {
  text-align: center;
  padding: 1% 0 2%;
  font-weight: 700;
  color: rgba(75, 75, 75, 0.46);
  font-size: 14px;
}

/*--------------------media queries-----------------------*/
@media screen and (min-width: 1440px) {
  /* line 944, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 74%;
  }
}
@media screen and (max-width: 1280px) {
  /* line 955, ../sass/style.scss */
  .pagewrap header nav .collapse form {
    margin-left: 13%;
  }
  /* line 958, ../sass/style.scss */
  .pagewrap .five .breakfast .snacking h1 {
    font-size: 73px;
  }
  /* line 961, ../sass/style.scss */
  .pagewrap .seven .breakfast .snacking h1 {
    font-size: 69px;
  }
  /* line 964, ../sass/style.scss */
  .pagewrap footer .navigation ul {
    margin: 0%;
  }
  /* line 967, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 73.3%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 977, ../sass/style.scss */
  .pagewrap header nav .navbar-brand {
    padding: 0%;
    font-size: 20px;
  }

  /* line 981, ../sass/style.scss */
  .pagewrap header nav .collapse form {
    margin-left: 10%;
  }
  /* line 983, ../sass/style.scss */
  .pagewrap header nav .collapse form ul li a {
    font-size: 14px;
  }

  /* line 989, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 72%;
  }

  /* line 998, ../sass/style.scss */
  .pagewrap .second .breakfast .description,
  .pagewrap .five .breakfast .description,
  .pagewrap .seven .breakfast .description,
  .pagewrap .ten .breakfast .description {
    padding: 9% 3.2% 0;
  }
  /* line 1003, ../sass/style.scss */
  .pagewrap .second .breakfast .description h1,
  .pagewrap .five .breakfast .description h1,
  .pagewrap .seven .breakfast .description h1,
  .pagewrap .ten .breakfast .description h1 {
    font-size: 45px;
  }
  /* line 1005, ../sass/style.scss */
  .pagewrap .second .breakfast .description h1 span,
  .pagewrap .five .breakfast .description h1 span,
  .pagewrap .seven .breakfast .description h1 span,
  .pagewrap .ten .breakfast .description h1 span {
    font-size: 70px;
  }
  /* line 1010, ../sass/style.scss */
  .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item,
  .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item,
  .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item,
  .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item {
    width: 100%;
  }
  /* line 1015, ../sass/style.scss */
  .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 {
    max-width: 45% !important;
  }
  /* line 1017, ../sass/style.scss */
  .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark,
  .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark,
  .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark,
  .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 .checkbox label .checkmark {
    left: 20;
  }
}
@media screen and (max-width: 768px) {
  /* line 1027, ../sass/style.scss */
  .pagewrap .second .breakfast .description,
  .pagewrap .five .breakfast .description,
  .pagewrap .seven .breakfast .description,
  .pagewrap .ten .breakfast .description {
    padding: 2% 3.2% 0;
  }
  /* line 1032, ../sass/style.scss */
  .pagewrap .second .breakfast .description h1,
  .pagewrap .five .breakfast .description h1,
  .pagewrap .seven .breakfast .description h1,
  .pagewrap .ten .breakfast .description h1 {
    font-size: 32px;
  }
  /* line 1034, ../sass/style.scss */
  .pagewrap .second .breakfast .description h1 span,
  .pagewrap .five .breakfast .description h1 span,
  .pagewrap .seven .breakfast .description h1 span,
  .pagewrap .ten .breakfast .description h1 span {
    font-size: 52px;
  }
  /* line 1038, ../sass/style.scss */
  .pagewrap .second .breakfast .description p,
  .pagewrap .five .breakfast .description p,
  .pagewrap .seven .breakfast .description p,
  .pagewrap .ten .breakfast .description p {
    font-size: 17px;
  }
  /* line 1042, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 70%;
  }
  /* line 1049, ../sass/style.scss */
  .pagewrap footer .navigation ul {
    padding: 0 9%;
  }
  /* line 1052, ../sass/style.scss */
  .pagewrap footer .lists {
    padding: 4% 0 0 2%;
  }

  /* line 1058, ../sass/style.scss */
  .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 {
    max-width: 45% !important;
  }
}
@media screen and (max-width: 640px) {
  /* line 1068, ../sass/style.scss */
  .pagewrap header nav .collapse form {
    margin-left: 3%;
  }

  /* line 1072, ../sass/style.scss */
  .pagewrap .second .breakfast .snacking h1,
  .pagewrap .five .breakfast .snacking h1,
  .pagewrap .seven .breakfast .snacking h1,
  .pagewrap .ten .breakfast .snacking h1 {
    font-size: 62px;
  }
  /* line 1077, ../sass/style.scss */
  .pagewrap .second .breakfast .snacking h1 span,
  .pagewrap .five .breakfast .snacking h1 span,
  .pagewrap .seven .breakfast .snacking h1 span,
  .pagewrap .ten .breakfast .snacking h1 span {
    font-size: 90px;
  }

  /* line 1083, ../sass/style.scss */
  .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 {
    max-width: 45% !important;
  }
  /* line 1089, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 68.5%;
  }

  /* line 1098, ../sass/style.scss */
  .pagewrap footer .lists {
    padding: 4% 0 0 3%;
  }
  /* line 1100, ../sass/style.scss */
  .pagewrap footer .lists .menu {
    width: 25%;
  }
  /* line 1103, ../sass/style.scss */
  .pagewrap footer .lists .menu.lastcol {
    width: 50%;
  }
  /* line 1106, ../sass/style.scss */
  .pagewrap footer .lists .last {
    border-right: none;
  }
  /* line 1110, ../sass/style.scss */
  .pagewrap footer .navigation ul {
    margin: 0%;
    padding: 0 0 0 2%;
  }
  /* line 1113, ../sass/style.scss */
  .pagewrap footer .navigation ul li {
    padding: 10px 14px;
    text-align: center;
  }
}
@media screen and (max-width: 414px) and (min-width: 320px) {
  /* line 1125, ../sass/style.scss */
  .pagewrap header nav .navbar-brand {
    font-size: 22px;
  }

  /* line 1133, ../sass/style.scss */
  .pagewrap .second .breakfast .snacking h1,
  .pagewrap .five .breakfast .snacking h1,
  .pagewrap .seven .breakfast .snacking h1,
  .pagewrap .ten .breakfast .snacking h1 {
    font-size: 32px;
  }
  /* line 1135, ../sass/style.scss */
  .pagewrap .second .breakfast .snacking h1 span,
  .pagewrap .five .breakfast .snacking h1 span,
  .pagewrap .seven .breakfast .snacking h1 span,
  .pagewrap .ten .breakfast .snacking h1 span {
    font-size: 45px;
  }
  /* line 1139, ../sass/style.scss */
  .pagewrap .second .breakfast .snacking p,
  .pagewrap .five .breakfast .snacking p,
  .pagewrap .seven .breakfast .snacking p,
  .pagewrap .ten .breakfast .snacking p {
    font-size: 14px;
  }

  /* line 1145, ../sass/style.scss */
  .pagewrap .third .container3 .shop #carouselExampleIndicators2 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .six .container4 .shop #carouselExampleIndicators3 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eight .container5 .shop #carouselExampleIndicators4 .carousel-inner .carousel-item .col-md-4,
  .pagewrap .eleven .container6 .shop #carouselExampleIndicators5 .carousel-inner .carousel-item .col-md-4 {
    max-width: 100% !important;
  }
  /* line 1151, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 60%;
  }

  /* line 1160, ../sass/style.scss */
  .pagewrap footer .lists .menu {
    width: 100%;
  }
  /* line 1162, ../sass/style.scss */
  .pagewrap footer .lists .menu ul {
    text-align: center;
  }
  /* line 1165, ../sass/style.scss */
  .pagewrap footer .lists .menu .newsletter {
    padding: 0%;
    text-align: center;
  }
  /* line 1170, ../sass/style.scss */
  .pagewrap footer .lists .menu.lastcol {
    width: 100%;
  }
  /* line 1174, ../sass/style.scss */
  .pagewrap footer .navigation {
    padding-bottom: 20px;
  }
  /* line 1176, ../sass/style.scss */
  .pagewrap footer .navigation ul li {
    padding: 10px 13px;
  }
}
@media screen and (max-width: 414px) {
  /* line 1187, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 62%;
  }
}
@media screen and (max-width: 411px) {
  /* line 1198, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 62.5%;
  }
}
@media screen and (max-width: 375px) {
  /* line 1209, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 60.5%;
  }
}
@media screen and (max-width: 320px) {
  /* line 1220, ../sass/style.scss */
  .pagewrap .third .container3 .shop .view hr,
  .pagewrap .six .container4 .shop .view hr,
  .pagewrap .eight .container5 .shop .view hr,
  .pagewrap .eleven .container6 .shop .view hr {
    width: 58%;
  }
}
